@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, :before, :after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font: normal 300 14px/2 "Gotham Pro";
  color: #333;
  -webkit-transform: none;
          transform: none;
}

header, footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-x: hidden;
}

img,
iframe,
video {
  max-width: 100%;
}

a {
  color: #e71f2b;
}
a:visited {
  color: #ff7070;
}

.file-link {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  color: #888;
  line-height: 1.5384615385;
  padding: 0 0 0 1.8461538462em;
  position: relative;
}
.file-link:before {
  content: "";
  text-decoration: none;
  font-family: "Font Awesome 5 Pro";
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.file-link[href$=".pdf"]:before {
  content: "";
}
.file-link[href$=".doc"]:before, .file-link[href$=".docx"]:before {
  content: "";
}
.file-link[href$=".xls"]:before, .file-link[href$=".csv"]:before {
  content: "";
}
.file-link[href$=".jpg"]:before, .file-link[href$=".jpeg"]:before, .file-link[href$=".png"]:before, .file-link[href$=".gif"]:before, .file-link[href$=".webp"]:before, .file-link[href$=".svg"]:before {
  content: "";
}

a img {
  /*для IE10 */
  border: none;
}

p {
  margin: 0 0 1.2em;
}
p:last-child {
  margin: 0;
}

b, strong {
  font-weight: 500;
}

em {
  color: #e71f2b;
  font-weight: 500;
  font-style: inherit;
}

*:focus {
  outline: none;
}

*:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*элементы форм */
input, textarea, button, select {
  font: inherit;
  color: inherit;
}

textarea {
  resize: none;
  overflow: auto;
}

[type=text],
[type=email],
[type=tel],
[type=url],
[type=password],
textarea {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin: 0 0 28px;
  border: none;
  border-bottom: 1px solid;
  background: none;
}
[type=text]:last-child,
[type=email]:last-child,
[type=tel]:last-child,
[type=url]:last-child,
[type=password]:last-child,
textarea:last-child {
  margin: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: inherit;
}

[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 13px;
  font-size: 9px;
  border: 1px solid;
  padding: 0;
}
[type=checkbox]:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: bold;
  color: transparent;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
[type=checkbox]:checked:before {
  color: inherit;
}
[type=checkbox]::-ms-check {
  display: block;
  border: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 9px 0 0;
  font-weight: 400;
  background: url(../img/angle-down.svg) no-repeat right 0 center/7px auto;
  text-decoration: underline;
  border: none;
}
select::-ms-expand {
  display: none;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1.3846153846;
  margin: 0 0 25px;
  text-align: left;
}
label input {
  margin: 0 16px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
label span {
  display: inline-block;
  width: calc(100% - 31px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*кнопки */
button,
[type=submit],
[type=reset],
[type=image] {
  cursor: pointer;
}

.btn {
  display: inline-block;
  border: none;
  font: normal 500 15px/50px "Gotham Pro";
  color: #fff;
  text-align: center;
  min-width: 255px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px;
  text-decoration: none;
  background-color: #e71f2b;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none;
  letter-spacing: 0;
  word-spacing: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.btn:visited {
  color: #fff;
}
.btn_thin {
  background: none;
  border: 1px solid #e71f2b;
  color: #e71f2b;
  line-height: 33px;
  min-width: 170px;
  font-size: 12px;
  letter-spacing: 0.02em;
}
.btn_thin:visited {
  color: #e71f2b;
}
.btn_block {
  display: block;
  width: 100%;
  min-width: 0;
  padding: 0 10px;
}
.btn_more {
  background: none;
  border-top: 1px solid #e71f2b;
  color: #e71f2b;
  min-width: 160px;
  line-height: 40px;
  font-size: 13.75px;
}
.btn_low {
  line-height: 45px;
  font-size: 14px;
  letter-spacing: 0.05em;
}
.btn_white {
  background-color: #fff;
  color: #e71f2b;
}

/*заголовки */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  font-weight: 400;
}

h1 {
  font-size: 26px;
  line-height: 1.0769230769;
  margin: 0 0 0.8em;
}

h2 {
  font-size: 24px;
  line-height: 1.1666666667;
  margin: 0 0 0.8em;
}

h3 {
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 1.2em;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 0.2em;
  letter-spacing: 0.05em;
}

.triangle-title {
  position: relative;
  font-size: 36px;
  line-height: normal;
  margin: 0 0 1.8em;
}
.triangle-title:before {
  content: "";
  display: block;
  position: absolute;
  left: -1.67em;
  top: calc(50% - 1.4em);
  border-bottom: 2.33em solid #f4f5f9;
  border-left: 1.67em solid transparent;
  border-right: 1.67em solid transparent;
}
.triangle-title span {
  position: relative;
}

/*списки */
ul, ol {
  margin: 0;
}
ul > li, ol > li {
  margin: 0 0 1.3em;
}

/*таблицы */
/*контейнеры */
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

/*слайдер */
.slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.slick-dots > li {
  margin: 0;
}
.slick-dots > li {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding: 14px 0;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.slick-dots > li:before {
  content: "";
  display: block;
  width: 100%;
  border-top: 2px solid;
}
.slick-dots .slick-active {
  color: #e71f2b;
}
.slick-arrow {
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  top: calc(50% - 16px);
  z-index: 2;
  line-height: 32px;
}
.slick-arrow.prev {
  border-left: 1px solid;
  text-align: right;
  left: 0;
}
.slick-arrow.prev:before {
  content: "←";
}
.slick-arrow.next {
  border-right: 1px solid;
  text-align: left;
  right: 0;
}
.slick-arrow.next:before {
  content: "→";
}

/*прочее */
.align-left {
  float: left;
  margin: 0 30px 15px 0;
  max-width: calc(50% - 30px);
}
.align-right {
  float: right;
  margin: 0 0 15px 30px;
  max-width: calc(50% - 30px);
}
.align-center {
  display: block;
  margin: 1.5em auto;
}

.clearfix {
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*ШАПКА */
.logo {
  display: inline-block;
}
.logo img {
  display: block;
  width: 100%;
}

.menu-btn {
  display: none;
}

.header__topline {
  padding: 10px 0;
}
.header__topline .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__contact {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 0 0 14px;
  margin: 0 0 0 42px;
}
.header__contact:before {
  content: "";
  display: block;
  position: absolute;
  height: calc(100% - 18px);
  top: 9px;
  left: 0;
  border-left: 1px solid #6f6f6f;
}
.header__contact a {
  text-decoration: none;
  color: inherit;
}
.header__subtitle {
  font-size: inherit;
  font-weight: 500;
  margin: 0;
  line-height: 1.7142857143;
}
.header__bottomline {
  background-color: #252c41;
  color: #fff;
}
.header__bottomline .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 400;
}
.header__menu > li {
  margin: 0;
}
.header__menu.clone {
  display: none;
}
.header__menu a {
  display: block;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: inherit;
}
.header__menu > li {
  display: inline-block;
  position: relative;
}
.header__menu > li:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: calc(50% - .5em);
  height: 1em;
  border-left: 1px solid;
}
.header__menu > li:first-child:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: calc(50% - .5em);
  height: 1em;
  border-left: 1px solid;
}
.header__menu > li > a {
  padding: 17px 23px;
}
.header__menu > li.active > a {
  color: #e71f2b;
}
.header__menu > li > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  padding: 15px 10px 10px 23px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100%;
  min-width: 100%;
  background-color: #252c41;
  white-space: nowrap;
  font-size: 13px;
  color: #c4c4c4;
  line-height: 2.1538461538;
}
.header__menu > li > ul > li {
  margin: 0;
}

/*ОСНОВНОЕ СОДЕРЖИМОЕ */
.top-block {
  position: relative;
  color: #fff;
  font-size: 13px;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.top-block:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 120px);
  height: 100%;
  width: calc(50% + 120px);
  background: url(../img/triangles.svg) no-repeat left top/cover;
  pointer-events: none;
}
.top-block .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-block__slide {
  padding: 111px 0 104px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top-block__slide:not(.slick-slide):nth-child(n+2) {
  display: none;
}
.top-block__slide.slick-slide {
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.top-block__text {
  max-width: 555px;
}
.top-block__text p {
  margin: 0 0 0.7em;
}
.top-block__text p:last-child {
  margin: 0;
}
.top-block__title {
  text-transform: none;
  font-size: 44px;
  line-height: 1.3636363636;
  font-weight: 300;
  letter-spacing: -0.025em;
  margin: 0 0 0.47em;
}
.top-block__dots {
  position: absolute;
  z-index: 2;
  bottom: 47px;
  left: 0;
  width: 100%;
}

.breadcrumbs {
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  padding: 30px 0 42px;
}
.breadcrumbs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs__list > li {
  margin: 0;
}
.breadcrumbs__list li {
  display: inline-block;
}
.breadcrumbs__list li:not(:last-child):after {
  content: "/";
  margin: 0 1.5px;
}
.breadcrumbs__list a {
  font-weight: 500;
  color: inherit;
}

.post {
  margin: 0 0 30px;
}
.post__content {
  overflow: hidden;
}
.post__image {
  max-width: 57.21%;
  float: left;
  margin: 0 30px 15px 0;
}
.post__date {
  display: block;
  overflow: hidden;
  font-size: 13px;
  line-height: 2.3076923077;
  border-left: 1px solid #e71f2b;
  padding: 0 0 0 15px;
  margin: 0 0 0.5em;
}

.news-card {
  width: 350px;
  margin: 0 15px 30px;
}
.news-card__date {
  display: block;
  font-size: 13px;
  line-height: 30px;
  border-left: 1px solid #e71f2b;
  padding: 0 0 0 15px;
  margin: 0 0 0.5em;
  font-weight: 400;
}
.news-card__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
  margin: 0;
  color: #555;
}
.news-card__title a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.news-block {
  padding: 60px 0 43px;
}

.about-block {
  padding: 110px 0 42px;
  background: url(../img/plan.jpg) no-repeat center/cover;
  font-size: 13px;
}
.about-block__title {
  margin: 0 0 1.1em;
}
.about-block__title:before {
  border-bottom-color: #fff;
}
.about-block__column {
  width: calc(50% - 30px);
  margin: 0 15px 30px;
}
.about-block__column p {
  margin: 0 0 1.55em;
}
.about-block__column p:last-child {
  margin: 0;
}
.about-block__item {
  border-left: 1px solid #e71f2b;
  line-height: 1.8461538462;
  margin: 0.6em 0 2.3em 0.3em;
  padding: 0.2em 0 0.5em 1.4em;
  max-width: 460px;
}
.about-block__item:last-child {
  margin-bottom: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.card {
  width: 350px;
  margin: 0 15px 30px;
  -webkit-box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.15);
  background-color: #f4f5f9;
  position: relative;
  -webkit-animation: fadeIn 0.4s ease-in-out;
          animation: fadeIn 0.4s ease-in-out;
}
.card.slick-slide {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 25px;
}
.card__pic {
  height: 200px;
  background-color: gray;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.card__pic img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__chars {
  position: absolute;
  top: 15px;
  left: 0;
  width: calc(100% - 80px);
}
.card__char {
  display: block;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 16px;
  background-color: #dddfe6;
  margin: 0 0 5px;
  float: left;
}
@supports((width: -webkit-max-content) or (width: -moz-max-content) or (width: max-content)) {
  .card__char {
    float: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
  }
}
.card__char.blue {
  background-color: #dae9f4;
}
.card__char.green {
  background-color: #a8dba8;
}
.card__discount {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #fcbe32;
  padding: 1px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fcbe32), to(#fcbe32)), #fff;
  background: linear-gradient(to top, #fcbe32, #fcbe32), #fff;
  background-clip: content-box, padding-box;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  line-height: 38px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 15px;
  right: 13px;
}
.card__text {
  padding: 25px 20px 30px;
}
.card__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__main {
  width: calc(100% - 90px);
  font-size: 12px;
  line-height: 1.3333333333;
}
.card__title {
  font-size: 15px;
  line-height: 1.6666666667;
  margin: 0 0 5px;
}
.card__address {
  padding: 0 0 0 1.5em;
  position: relative;
}
.card__address:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.card__price {
  width: 85px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 13px;
  line-height: 1.2307692308;
  text-align: right;
  margin: 3px 0 0 5px;
}
.card__btn {
  margin: 14px 0 0;
}

.filter {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
}
.filter > li {
  margin: 0;
}
.filter > li {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 9px 5px;
}
.filter > li:last-child {
  padding-right: 0;
}
.filter > li.active {
  color: #e71f2b;
  font-weight: 500;
}

.catalog {
  padding: 14px 0 63px;
}
.catalog__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 66px;
}
.catalog__title {
  margin: 0;
}

.partners {
  padding: 16px 0 41px;
}
.partners__title {
  margin: 0 0 0.2em;
}
.partners__text {
  font-size: 12px;
  margin: 0 0 3.7em;
}
.partners__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners__logo {
  width: 160px;
  margin: 0 15px 30px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.4;
}

.portfolio {
  background: url(../img/square-pattern.svg);
  padding: 114px 0 71px;
  margin: 0 0 40px;
}
.portfolio__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 66px;
}
.portfolio__title {
  margin: 0;
}
.portfolio__slider {
  position: relatve;
}
.portfolio__slider:not(.slick-slider) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.portfolio__slider .slick-list {
  margin: 0 -15px;
}
.portfolio__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio__arrow {
  top: calc(50% - 46px);
}
.portfolio__arrow.prev {
  left: -61px;
}
.portfolio__arrow.next {
  right: -61px;
}

.slider {
  position: relative;
  color: #fff;
  margin: 0 0 36px;
}
.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__item:not(.slick-slide):nth-child(n+2) {
  display: none;
}
.slider__item.slick-slide {
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.slider__item img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.slider__dots {
  position: absolute;
  z-index: 1;
  bottom: 15px;
  left: 0;
  width: 100%;
}
.slider__arrow.prev {
  left: 30px;
}
.slider__arrow.next {
  right: 30px;
}

.object {
  padding: 14px 0 70px;
}
.object__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.object__sidebar {
  width: 350px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 0 0 30px;
}
.object__content {
  width: calc(100% - 380px);
}
.object__text {
  margin: 0 0 1.6em;
}
.object__text p {
  margin: 0 0 1.7em;
}
.object__text p:last-child {
  margin: 0;
}
.object__more {
  text-align: center;
  margin: 0 0 94px;
}

.vacancy {
  border-left: 1px solid #e71f2b;
  padding: 0 0 0 20px;
  margin: 0 0 33px;
}
.vacancy__title {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  margin: 0 0 0.7em;
}
.vacancy__requirements {
  padding: 0 0 0 2.5em;
  line-height: 2.1428571429;
}
.vacancy__requirements > li {
  margin: 0;
}

.vacancies {
  padding: 14px 0 40px;
}
.vacancies__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.vacancies__column {
  width: calc(50% - 15px);
}
.vacancies__contacts {
  background-color: #f4f5f9;
  padding: 30px 29px 32px;
  font-weight: 400;
}
.vacancies__contacts a {
  color: inherit;
  text-decoration: none;
}

.about {
  padding: 14px 0;
}
.about__title {
  margin: 0 0 1.6em;
}
.about p {
  margin: 0 0 1.4em;
}
.about p:last-child {
  margin: 0;
}

.advantages-block {
  padding: 105px 0 51px;
  background: url(../img/square-pattern.svg);
  font-weight: 400;
  font-size: 12px;
}
.advantages-block__title {
  margin: 0 0 0.3em;
}
.advantages-block__box {
  margin-top: 33px;
}
.advantages-block__item {
  width: 350px;
  margin: 0 15px 30px;
  padding: 0 0 6px 20px;
  border-left: 1px solid #e71f2b;
  font-size: 13px;
  line-height: 1.8461538462;
}
.advantages-block__subtitle {
  font-size: 14px;
  line-height: 2;
  font-weight: 500;
  margin: 0;
}

.contact {
  width: 350px;
  max-width: 100%;
  margin: 0 15px 30px;
  background-color: #f4f5f9;
  padding: 35px 29px 36px;
  line-height: 1.7142857143;
  font-weight: 400;
}
.contact__title {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 0.6em;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.contact p {
  margin: 0 0 0.6em;
}
.contact p:last-child {
  margin: 0;
}
.contact a {
  color: inherit;
  text-decoration: none;
}

.contacts {
  padding: 14px 0 46px;
}
.contacts__inner {
  position: relative;
  margin: 0 0 30px;
}
.contacts__map {
  height: 400px;
  background-color: gray;
}
.contacts__info {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #252c41;
  color: #fff;
  width: 370px;
  padding: 39px 40px 50px;
  line-height: 1.7142857143;
  font-weight: 400;
}
.contacts__info p {
  margin: 0 0 0.6em;
}
.contacts__info p:last-child {
  margin: 0;
}
.contacts__info small {
  font-weight: 300;
  font-size: inherit;
  color: #bfbfbf;
}
.contacts__info a {
  color: inherit;
  text-decoration: none;
}
.contacts__subtitle {
  font-size: 16px;
  line-height: 2;
  text-indent: -11px;
  letter-spacing: 0.05em;
  margin: 0 0 0.3em;
}
.contacts__subtitle:before {
  content: "";
  display: inline-block;
  border-bottom: 16px solid #e71f2b;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  margin: 0 9px 0 0;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.pagination > li {
  margin: 0;
}
.pagination li {
  display: inline-block;
  min-width: 28px;
  background-color: #f4f5f9;
}
.pagination a {
  display: block;
  width: 100%;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
}
.pagination [class^=fa] {
  font-size: 11px;
}
.pagination .active {
  color: #e71f2b;
  font-weight: 500;
}

.news {
  padding: 14px 0 80px;
}
.news__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 66px;
}
.news__title {
  margin: 0;
}
.news__sort {
  font-size: 13px;
  font-weight: 500;
  margin: 0 0 5px 15px;
}
.news__sort select {
  margin: 0 0 0 8px;
}

.widget {
  background-color: #f4f5f9;
  margin: 0 0 30px;
  padding: 35px 30px 50px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
}
.widget_small {
  font-size: 13px;
  line-height: 1.8461538462;
}
.widget__title {
  font-size: 24px;
  line-height: normal;
  margin: 0 0 0.7em;
}
.widget__item {
  margin: 0 0 14px;
}
.widget__item:last-child {
  margin: 0;
}
.widget__subtitle {
  font-size: 15px;
  line-height: 1.6;
  margin: 0 0 0.2em;
}
.widget__btn {
  margin: 25px 0 0;
}
.widget p {
  margin: 0 0 0.7em;
}
.widget p:last-child {
  margin: 0;
}
.widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget ul > li {
  margin: 0;
}
.widget .file-link {
  margin: 0 0 1.4em;
}
.widget .file-link:last-child {
  margin: 0;
}

.small-map {
  height: 350px;
  background-color: gray;
  margin: 0 0 30px;
}

.form {
  background-color: #e71f2b;
  color: #fff;
  font-size: 13px;
  line-height: 1.3846153846;
  padding: 47px 30px 50px;
  text-align: center;
}
.form__title {
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  margin: 0 0 0.5em;
}
.form p {
  margin: 0 0 1.7em;
}
.form p:last-child {
  margin: 0;
}
.form a {
  color: inherit;
}

/*ПОДВАЛ */
.footer {
  background-color: #252c41;
  color: #fff;
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer__topline {
  padding: 52px 0 27px;
  font-size: 13px;
}
.footer__item {
  width: 255px;
  margin: 0 15px 30px;
  line-height: 1.5384615385;
}
.footer__item p {
  margin: 0 0 0.3em;
}
.footer__item p:last-child {
  margin: 0;
}
.footer__logo {
  margin: 10px 0 0;
}
.footer__title {
  font-size: inherit;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 2;
  margin: 0 0 0.2em;
}
.footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 2.1538461538;
}
.footer__menu > li {
  margin: 0;
}
.footer__menu > li > a, .footer__menu > li > span {
  font-weight: 500;
  letter-spacing: 0.05em;
}
.footer__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #c3c3c3;
  padding: 0 0 0 1.3em;
  position: relative;
}
.footer__menu ul > li {
  margin: 0;
}
.footer__menu ul:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 9px;
  height: calc(100% - 18px);
  border-left: 1px solid rgba(221, 223, 230, 0.25);
}
.footer__bottomline {
  background-color: #1d2337;
  color: #9e9e9e;
  font-size: 12px;
  line-height: 2.1666666667;
  padding: 0.585em 0;
  text-align: center;
}

/*АДАПТИВ */
/*hover-эффекты только в полной версии */
@media(min-width: 992px) {
  .btn {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .btn:hover {
    background-color: #d61722;
  }
  .btn_thin:hover {
    background-color: #e71f2b;
    color: #fff;
  }
  .btn_more:hover {
    background: none;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  .btn_white:hover {
    background-color: #f2f2f2;
  }

  .slick-arrow {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .slick-arrow:hover {
    color: #e71f2b;
  }

  .file-link:hover:before {
    color: #e71f2b;
  }

  .header__menu a {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .header__menu a:hover {
    color: #e71f2b;
  }
  .header__menu > li:hover > a {
    color: #e71f2b;
  }
  .header__menu > li:hover > ul {
    display: block;
  }

  .news-card__title a:hover,
  .pagination a:hover,
  .breadcrumbs a:hover,
  .header__contact a:hover {
    color: #e71f2b;
  }

  .vacancies__contacts a:hover {
    text-decoration: underline;
  }

  .footer a {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .footer a:hover {
    color: #e71f2b;
  }
}
/*необычные карточки-слайды только на больших разрешениях */
@media(min-width: 1170px) {
  .slick-slider .card__pic {
    height: 305px;
  }
  .slick-slider .card__chars {
    top: 34px;
  }
  .slick-slider .card__char {
    padding: 8px 25px;
  }
  .slick-slider .card__text {
    padding: 44px 47px 32px;
    position: relative;
  }
  .slick-slider .card__text:before {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    left: 20px;
    border-bottom: 40px solid #fff;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }
  .slick-slider .card__head {
    margin: 0 0 4px;
  }
  .slick-slider .card__main {
    font-size: 13px;
    line-height: 20/13;
    width: calc(100% - 125px);
    padding-right: 40px;
  }
  .slick-slider .card__address {
    padding-left: 1.7em;
  }
  .slick-slider .card__price {
    width: 125px;
    font-size: 14px;
    line-height: 1.1428571429;
  }
  .slick-slider .card__price em {
    font-size: 16px;
    line-height: 1;
  }
  .slick-slider .card__title {
    font-size: 20px;
    line-height: 1.2;
    position: relative;
    margin: 0 0 0.7em;
  }
}
/*адаптив как таковой */
@media(max-width: 1279px) {
  .portfolio__arrow {
    top: auto;
    bottom: 15px;
  }
  .portfolio__arrow.prev {
    left: 0;
  }
  .portfolio__arrow.next {
    right: 0;
  }
}
@media(max-width:1169px) {
  .wrapper {
    max-width: 992px;
  }

  .header__menu > li > a {
    padding: 17px 10px;
  }

  .top-block:after {
    width: 50%;
    left: 50%;
  }

  .news-card {
    width: 300px;
  }
  .news-card__title {
    font-size: 14px;
  }

  .advantages-block__item {
    width: 300px;
  }

  .contact {
    width: 300px;
    padding: 25px;
  }

  .partners__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partners__logo {
    width: 135px;
  }

  .footer__item {
    width: 218px;
  }
}
@media(max-width:991px) {
  .box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu-btn {
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    line-height: 1.5;
    width: 1.5em;
    text-align: center;
    font-family: "Font Awesome 5 Pro";
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .menu-btn:before {
    content: "";
  }
  .menu-btn.active {
    color: #e71f2b;
    -webkit-transform: perspective(30px) rotate3d(0, 1, 0, 180deg);
            transform: perspective(30px) rotate3d(0, 1, 0, 180deg);
  }
  .menu-btn.active:before {
    content: "";
  }

  .header {
    position: relative;
  }
  .header__logo {
    width: 80px;
    margin: 0 15px 0 0;
  }
  .header__btn, .header__contacts {
    display: none;
  }
  .header__bottomline {
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: perspective(100vh) rotate3d(1, 0, 0, -90deg);
            transform: perspective(100vh) rotate3d(1, 0, 0, -90deg);
    pointer-events: none;
  }
  .header__bottomline.open {
    -webkit-transform: perspective(100vh) rotate3d(1, 0, 0, 0deg);
            transform: perspective(100vh) rotate3d(1, 0, 0, 0deg);
    pointer-events: all;
  }
  .header__bottomline .wrapper {
    display: block;
  }
  .header__menu {
    display: block;
    -webkit-animation: fadeIn 0.4s ease-in-out;
            animation: fadeIn 0.4s ease-in-out;
  }
  .header__menu.clone {
    display: block;
  }
  .header__menu:nth-child(n+2) {
    display: none;
  }
  .header__menu > li {
    display: block;
  }
  .header__menu > li:after, .header__menu > li:first-child:before {
    display: none;
  }
  .header__menu > li > a {
    padding: 10px;
    -webkit-tap-highlight-color: transparent;
  }
  .header__menu > li.has-children > a {
    margin-left: 10px;
  }
  .header__menu > li.has-children > a:after {
    content: "";
    font-family: "Font Awesome 5 Pro";
    margin: 0 0 0 10px;
  }
  .header__menu .back {
    font-weight: bold;
    color: #e71f2b;
  }

  .top-block {
    text-align: center;
  }
  .top-block:after {
    display: none;
  }
  .top-block__text {
    max-width: 100%;
  }

  .portfolio__head {
    display: block;
    margin: 0 0 20px;
  }
  .portfolio__title {
    margin: 0 0 1em;
  }

  .news-block__box {
    display: block;
    margin: 0;
  }
  .news-block .news-card {
    width: auto;
    margin: 0 0 30px;
  }

  .advantages-block__box {
    display: block;
    margin: 0;
  }
  .advantages-block__item {
    width: auto;
    margin: 0 0 30px;
  }

  .catalog__head {
    display: block;
    margin: 0 0 30px;
  }
  .catalog__title {
    margin: 0 0 1em;
  }

  .object__title {
    margin: 0 0 1em;
  }
  .object__inner {
    display: block;
  }
  .object__content {
    width: auto;
    margin: 0 0 30px;
  }
  .object__more {
    margin: 0 0 40px;
  }
  .object__sidebar {
    width: auto;
    margin: 0;
  }

  .widget__btn {
    max-width: 255px;
    margin: 25px auto 0;
  }

  .form__btn {
    max-width: 255px;
    margin: 0 auto;
  }

  .vacancies__inner {
    display: block;
  }
  .vacancies__column {
    width: auto;
  }

  .contact {
    width: auto;
    margin: 0 0 15px;
  }

  .contacts__box {
    display: block;
    margin: 0;
  }
  .contacts__info {
    position: static;
    width: auto;
    -webkit-transform: none;
            transform: none;
    background-color: rgba(37, 44, 65, 0.95);
  }
  .contacts__map {
    height: 290px;
  }

  .post__image {
    display: block;
    float: none;
    max-width: 100%;
    margin: 0 auto 1em;
  }

  .footer__topline {
    padding: 30px 0;
    text-align: center;
  }
  .footer__box {
    display: block;
    margin: 0;
  }
  .footer__item {
    margin: 0;
    width: auto;
  }
  .footer__item:nth-child(n+2) {
    display: none;
  }
}
@media(max-width:767px) {
  .triangle-title {
    font-size: 28px;
  }

  .breadcrumbs {
    padding: 25px 0;
  }

  .top-block__title {
    font-size: 34px;
  }

  .about-block {
    padding: 50px 0 30px;
  }
  .about-block__box {
    display: block;
    margin: 0;
  }
  .about-block__column {
    width: auto;
    margin: 0 0 30px;
  }

  .portfolio {
    padding: 50px 0 30px;
    margin: 0;
  }
  .portfolio__slider {
    max-width: 350px;
    margin: 0 auto;
  }

  .news-block {
    padding: 50px 0 30px;
  }

  .about__title {
    margin: 0 0 0.7em;
  }

  .advantages-block {
    padding: 50px 0 30px;
  }

  .news-card {
    width: auto;
    margin: 0 0 30px;
  }

  .news__head {
    display: block;
    margin: 0 0 30px;
  }
  .news__title {
    margin: 0 0 1em;
    text-align: center;
  }
  .news__title:before {
    display: none;
  }
  .news__sort {
    text-align: center;
    margin: 0;
  }
  .news__box {
    display: block;
    margin: 0;
  }

  .catalog {
    padding: 14px 0 30px;
  }

  .partners {
    padding: 14px 0 30px;
  }
  .partners__logo {
    width: 120px;
  }

  .slider__dots {
    bottom: 0;
  }

  .widget {
    margin: 0 0 15px;
    padding: 25px 20px;
  }

  .form {
    padding: 25px 20px;
  }
}
@media(max-width:479px) {
  h3 {
    font-size: 17px;
  }

  .triangle-title {
    text-align: center;
  }
  .triangle-title:before {
    display: none;
  }

  .top-block {
    font-size: 10px;
  }
  .top-block__slide {
    padding: 77px 0;
  }
  .top-block__title {
    font-size: 24px;
  }
  .top-block__btn {
    margin: 1em 0 0;
  }
  .top-block__dots {
    bottom: 20px;
  }

  .filter {
    text-align: center;
  }

  .card__head {
    display: block;
  }
  .card__head br {
    display: none;
  }
  .card__main {
    width: auto;
    margin: 0 0 1em;
  }
  .card__price {
    width: auto;
    margin: 0;
    text-align: left;
  }

  .widget__btn, .form__btn {
    max-width: 100%;
  }

  .vacancies__contacts {
    padding: 20px;
  }

  .vacancy__requirements {
    padding: 0 0 0 1.5em;
  }

  .contacts__title {
    margin: 0 0 1em;
  }
  .contacts__info {
    padding: 20px;
  }
  .contacts__subtitle {
    text-indent: 0;
    margin: 0 0 1.5em;
  }
  .contacts__subtitle:before {
    display: none;
  }
}
